                    body {
                        margin: 0;
                        padding: 0;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    .color_header {
                        background-color: white;
                    }
                    
                    header {
                        margin: 0 10%;
                        background-color: #ffffff;
                    }
                    
                    .menu_header {
                        font-size: 15px;
                        font-weight: bold;
                    }
                    
                    .menu_header ul li {
                        margin-right: 20px;
                    }
                    
                    .color_dropdown {
                        color: black;
                    }
                    
                    .span_icon {
                        height: 13px;
                        width: 13px;
                        background: #7fad39;
                        font-size: 10px;
                        color: #ffffff;
                        line-height: 13px;
                        text-align: center;
                        font-weight: 700;
                        display: inline-block;
                        border-radius: 50%;
                        position: absolute;
                    }
                    
                    .menu {
                        margin-top: 30px;
                    }
                    
                    .menu__wrapper {
                        display: none;
                    }
                    /* categories */
                    
                    .categories {
                        /* position: relative; */
                        text-decoration: none;
                        list-style-type: none;
                    }
                    
                    .categories__all {
                        background: #7fad39;
                        position: relative;
                        padding: 10px 25px 10px 40px;
                        cursor: pointer;
                    }
                    
                    .categories li {
                        list-style: none;
                        margin: 13px 0px;
                    }
                    
                    .item1 a {
                        color: black;
                        text-decoration: none;
                        list-style: none;
                    }
                    
                    .search {
                        display: inline;
                        flex: auto;
                    }
                    
                    .search__form {
                        display: inline;
                        width: 50%;
                    }
                    
                    .search {
                        margin-bottom: 0;
                    }
                    
                    .categories__all i {
                        font-size: 15px;
                        color: #ffffff;
                        margin-right: 9px;
                    }
                    
                    .categories__all span {
                        font-size: 17px;
                        font-weight: 699;
                        color: #ffffff;
                    }
                    
                    .categories__all:after {
                        position: absolute;
                        right: 17px;
                        top: 8px;
                        /* content: ; */
                        font-family: "ElegantIcons";
                        font-size: 17px;
                        color: #ffffff;
                    }
                    
                    .categories ul li a {
                        font-size: 15px;
                        color: #0c1c1c;
                        line-height: 38px;
                        display: block;
                    }
                    
                    .search {
                        margin-bottom: 29px;
                    }
                    
                    .search__form form {
                        width: 50%;
                        height: 50px;
                        border: 1px solid #ebebeb;
                        position: relative;
                        float: left;
                    }
                    
                    .search__form form input {
                        width: 83%;
                        border: none;
                        height: 48px;
                        font-size: 16px;
                        color: #b2b2b2;
                        padding-left: 20px;
                    }
                    
                    .search__form form input::placeholder {
                        color: #b2b2b2;
                    }
                    
                    .search__form form button {
                        border: 1px solid white;
                        position: absolute;
                        right: 0;
                        top: -1px;
                        height: 50px;
                    }
                    
                    .search__phone__icon {
                        font-size: 18px;
                        color: #7fad39;
                        height: 50px;
                        width: 50px;
                        background: #f5f5f5;
                        line-height: 50px;
                        text-align: center;
                        border-radius: 50%;
                        float: left;
                        margin-right: 20px;
                    }
                    
                    .search__phone__text {
                        overflow: hidden;
                    }
                    
                    .search__phone__text h5 {
                        color: #1c1c1c;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                    
                    .search__phone__text span {
                        font-size: 14px;
                        color: #6f6f6f;
                    }
                    
                    .item {
                        padding-top: 30px;
                        background-image: url(img/hero/banner.jpg);
                        width: 100%;
                        height: 92%;
                        display: flex;
                        align-items: center;
                        padding-left: 75px;
                    }
                    
                    .text h2 {
                        font-size: 46px;
                        color: #252525;
                        line-height: 52px;
                        font-weight: 700;
                        margin: 10px 0;
                    }
                    
                    .text p {
                        margin-bottom: 35px;
                    }
                    
                    .primary-btn {
                        display: inline-block;
                        font-size: 14px;
                        padding: 10px 28px 10px;
                        color: #ffffff;
                        text-transform: uppercase;
                        font-weight: 700;
                        background: #7fad39;
                        letter-spacing: 2px;
                        text-decoration: none;
                    }
                    /* featured spad */
                    
                    .footer {
                        margin-top: 20px;
                        background: #F3F6FA;
                        padding-top: 70px;
                        padding-bottom: 0;
                    }
                    
                    .footer__about {
                        margin-bottom: 30px;
                    }
                    
                    .footer__about ul li {
                        font-size: 16px;
                        color: #1c1c1c;
                        line-height: 36px;
                        list-style: none;
                    }
                    
                    .footer__about__logo {
                        margin-bottom: 15px;
                    }
                    
                    .footer__about__logo a {
                        display: inline-block;
                    }
                    
                    .footer__widget {
                        margin-bottom: 30px;
                    }
                    
                    .footer__widget h6 {
                        color: #1c1c1c;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                    
                    .footer__widget ul {
                        width: 50%;
                        float: left;
                    }
                    
                    .footer__widget ul li {
                        list-style: none;
                    }
                    
                    .footer__widget ul li a {
                        color: #1c1c1c;
                        font-size: 14px;
                        line-height: 32px;
                    }
                    
                    .footer__widget p {
                        font-size: 14px;
                        color: #1c1c1c;
                        margin-bottom: 30px;
                    }
                    
                    .footer__widget form {
                        position: relative;
                        margin-bottom: 30px;
                    }
                    
                    .footer__widget form input {
                        width: 100%;
                        font-size: 16px;
                        padding-left: 20px;
                        color: white;
                        height: 46px;
                        border: 1px solid #ededed;
                    }
                    
                    .footer__widget form input::placeholder {
                        color: #1c1c1c;
                    }
                    
                    .footer__widget form button {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 0 26px;
                        height: 100%;
                        border: 1px solid white;
                    }
                    
                    .footer__widget .footer__widget__social a {
                        display: inline-block;
                        height: 41px;
                        width: 41px;
                        font-size: 16px;
                        color: #404040;
                        border: 1px solid #ededed;
                        border-radius: 50%;
                        line-height: 38px;
                        text-align: center;
                        background: #ffffff;
                        margin-right: 10px;
                    }
                    
                    .footer__widget .footer__widget__social a:last-child {
                        margin-right: 0;
                    }
                    /* .footer__widget .footer__widget__social a:hover {
                        background: #7fad39;
                        color: #ffffff;
                        border-color: #ffffff;
                    } */
                    
                    .footer__copyright {
                        border-top: 1px solid #ebebeb;
                        padding: 15px 0;
                        overflow: hidden;
                        margin-top: 20px;
                    }
                    
                    .footer__copyright__text {
                        font-size: 14px;
                        color: #1c1c1c;
                        float: left;
                        line-height: 25px;
                    }
                    
                    .footer__copyright__payment {
                        float: right;
                    }
                    
                    .footer__about ul {
                        padding-left: 0;
                    }
                    
                    .footer__widget ul {
                        padding-left: 0;
                    }
                    
                    .footer__widget ul li a {
                        text-decoration: none;
                    }
                    /* Featured */
                    
                    .section-title h2 {
                        color: #1c1c1c;
                        font-weight: 700;
                        position: relative;
                        text-align: center;
                    }
                    
                    .featured__controls ul li {
                        list-style: none;
                        display: inline;
                        font-size: 20px;
                        margin: 20px;
                    }
                    
                    .featured__controls {
                        margin-top: 20px;
                    }
                    
                    .featured__controls ul {
                        text-align: center;
                    }
                    
                    .featured {
                        padding-top: 80px;
                        padding-bottom: 40px;
                    }
                    
                    .featured__item__pic {
                        height: 270px;
                        position: relative;
                        overflow: hidden;
                        background-position: center center;
                    }
                    
                    .featured__item__text {
                        text-align: center;
                        padding-top: 15px;
                    }
                    
                    .featured__item__text h6 {
                        margin-bottom: 10px;
                    }
                    
                    .featured__item__text h6 a {
                        color: #252525;
                        text-decoration: none;
                    }
                    
                    .featured__item__text h5 {
                        color: #252525;
                        font-weight: 700;
                    }
                    
                    .featured__item__pic__hover li a {
                        font-size: 16px;
                        color: #1c1c1c;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        text-align: center;
                        border: 1px solid #ebebeb;
                        background: #ffffff;
                        display: block;
                        border-radius: 50%;
                        -webkit-transition: all, 0.5s;
                        transition: all, 0.5s;
                    }
                    
                    .featured__item__pic__hover li a i {
                        position: relative;
                        transform: rotate(0);
                        -webkit-transition: all, 0.3s;
                        transition: all, 0.3s;
                    }
                    
                    .featured__item__pic__hover li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 6px;
                    }
                    
                    .featured__item__pic__hover li:hover a {
                        background: #7fad39;
                        border-color: #7fad39;
                    }
                    
                    .featured__item__pic__hover li:hover a i {
                        color: #ffffff;
                        transform: rotate(360deg);
                    }
                    
                    .featured__item__pic__hover {
                        position: absolute;
                        left: -8%;
                        bottom: -10px;
                        width: 100%;
                        text-align: center;
                    }
                    /* From The Blog */
                    
                    .from-blog {
                        padding-top: 50px;
                        padding-bottom: 50px;
                    }
                    
                    .from-blog .blog__item {
                        margin-bottom: 30px;
                    }
                    
                    .from-blog__title {
                        margin-bottom: 70px;
                    }
                    
                    .blog__item {
                        margin-bottom: 60px;
                    }
                    
                    .blog__item__pic img {
                        min-width: 100%;
                    }
                    
                    .blog__item__text {
                        padding-top: 25px;
                    }
                    
                    .blog__item__text ul {
                        margin-bottom: 15px;
                    }
                    
                    .blog__item__text ul li {
                        font-size: 16px;
                        color: #b2b2b2;
                        list-style: none;
                        display: inline-block;
                        margin-right: 15px;
                    }
                    
                    .blog__item__text ul li:last-child {
                        margin-right: 0;
                    }
                    
                    .blog__item__text h5 {
                        margin-bottom: 12px;
                    }
                    
                    .blog__item__text h5 a {
                        text-decoration: none;
                        font-size: 20px;
                        color: #1c1c1c;
                        font-weight: 700;
                    }
                    
                    .blog__item__text p {
                        margin-bottom: 25px;
                    }
                    
                    .blog__item__text .blog__btn {
                        display: inline-block;
                        font-size: 14px;
                        color: #1c1c1c;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        border: 1px solid #b2b2b2;
                        padding: 14px 20px 12px;
                        border-radius: 25px;
                    }
                    
                    .blog__item__text .blog__btn span {
                        position: relative;
                        top: 1px;
                        margin-left: 5px;
                    }
                    
                    .blog__pagination {
                        padding-top: 5px;
                        position: relative;
                    }
                    
                    .blog__pagination:before {
                        position: absolute;
                        left: 0;
                        top: -29px;
                        height: 1px;
                        width: 100%;
                        background: #000000;
                        opacity: 0.1;
                        content: "";
                    }
                    
                    .banner__pic img {
                        width: 95%;
                        margin-left: 3%;
                    }
                    /*---------------------
    Latest Product
    -----------------------*/
                    
                    .latest-product {
                        padding-top: 80px;
                        padding-bottom: 0;
                    }
                    
                    .latest-product__text h4 {
                        font-weight: 700;
                        color: #1c1c1c;
                        margin-bottom: 45px;
                    }
                    
                    .latest-product__item {
                        margin-bottom: 20px;
                        overflow: hidden;
                        display: block;
                    }
                    
                    .latest-product__item__pic {
                        float: left;
                        margin-right: 26px;
                    }
                    
                    .latest-product__item__pic img {
                        height: 110px;
                        width: 110px;
                    }
                    
                    .latest-product__item__text {
                        overflow: hidden;
                        padding-top: 10px;
                    }
                    
                    .latest-product__item__text h6 {
                        color: #252525;
                        margin-bottom: 8px;
                    }
                    
                    .latest-product__item__text span {
                        text-decoration: none;
                        font-size: 18px;
                        display: inline;
                        color: #252525;
                        font-weight: 700;
                    }
                    
                    .latest-product__item {
                        text-decoration: none;
                    }
                    /* shoping-cart */
                    
                    .shoping-cart {
                        padding-top: 60px;
                        padding-bottom: 80px;
                    }
                    
                    .shoping__cart__table {
                        margin-bottom: 30px;
                    }
                    
                    .shoping__cart__table table {
                        width: 100%;
                        text-align: center;
                    }
                    
                    .shoping__cart__table table thead tr {
                        border-bottom: 1px solid #ebebeb;
                    }
                    
                    .shoping__cart__table table thead th {
                        font-size: 20px;
                        font-weight: 700;
                        color: #1c1c1c;
                        padding-bottom: 20px;
                    }
                    
                    .shoping__cart__table table thead th.shoping__product {
                        text-align: left;
                    }
                    
                    .shoping__cart__table table tbody tr td {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        border-bottom: 1px solid #ebebeb;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__item {
                        width: 630px;
                        text-align: left;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__item img {
                        display: inline-block;
                        margin-right: 25px;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__item h5 {
                        color: #1c1c1c;
                        display: inline-block;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__price {
                        font-size: 18px;
                        color: #1c1c1c;
                        font-weight: 700;
                        width: 100px;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__total {
                        font-size: 18px;
                        color: #1c1c1c;
                        font-weight: 700;
                        width: 110px;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__quantity {
                        width: 225px;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty {
                        width: 120px;
                        height: 40px;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input {
                        color: #1c1c1c;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input::placeholder {
                        color: #1c1c1c;
                    }
                    
                    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty .qtybtn {
                        width: 15px;
                    }
                    
                    .primary-btn.cart-btn {
                        color: #6f6f6f;
                        padding: 14px 30px 12px;
                        background: #f5f5f5;
                    }
                    
                    .primary-btn.cart-btn.cart-btn-right {
                        float: right;
                    }
                    
                    .shoping__discount {
                        margin-top: 45px;
                    }
                    
                    .shoping__discount h5 {
                        font-size: 20px;
                        color: #1c1c1c;
                        font-weight: 700;
                        margin-bottom: 25px;
                    }
                    
                    .shoping__discount form input {
                        width: 255px;
                        height: 46px;
                        border: 1px solid #cccccc;
                        font-size: 16px;
                        color: #b2b2b2;
                        text-align: center;
                        display: inline-block;
                        margin-right: 15px;
                    }
                    
                    .shoping__discount form input::placeholder {
                        color: #b2b2b2;
                    }
                    
                    .shoping__discount form button {
                        padding: 15px 30px 11px;
                        font-size: 12px;
                        letter-spacing: 4px;
                        background: #6f6f6f;
                    }
                    
                    .shoping__checkout {
                        background: #f5f5f5;
                        padding: 30px;
                        padding-top: 20px;
                        margin-top: 50px;
                    }
                    
                    .shoping__checkout h5 {
                        color: #1c1c1c;
                        font-weight: 700;
                        font-size: 20px;
                        margin-bottom: 28px;
                    }
                    
                    .shoping__checkout ul {
                        margin-bottom: 28px;
                    }
                    
                    .shoping__checkout ul li {
                        font-size: 16px;
                        color: #1c1c1c;
                        font-weight: 700;
                        list-style: none;
                        overflow: hidden;
                        border-bottom: 1px solid #ebebeb;
                        padding-bottom: 13px;
                        margin-bottom: 18px;
                    }
                    
                    .shoping__checkout ul li:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                    
                    .shoping__checkout ul li span {
                        font-size: 18px;
                        color: #dd2222;
                        float: right;
                    }
                    
                    .shoping__checkout .primary-btn {
                        display: block;
                        text-align: center;
                    }
                    /* details */
                    
                    .product-details {
                        padding-top: 80px;
                    }
                    
                    .product__details__pic__item {
                        margin-bottom: 20px;
                    }
                    
                    .product__details__pic__item img {
                        min-width: 100%;
                    }
                    
                    .product__details__pic__slider img {
                        margin-right: 30px;
                    }
                    
                    .product__details__rating {
                        color: #EDBB0E;
                    }
                    
                    .product__details__price {
                        font-size: 30px;
                        color: #dd2222;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                    
                    .product__details__text p {
                        margin-bottom: 45px;
                    }
                    
                    .product__details__quantity {
                        display: inline-block;
                        margin-right: 6px;
                    }
                    
                    .product__details__text .heart-icon {
                        display: inline-block;
                        font-size: 16px;
                        color: #6f6f6f;
                        padding: 13px 16px 13px;
                        background: #f5f5f5;
                    }
                    
                    .product__details__text ul {
                        border-top: 1px solid #ebebeb;
                        padding-top: 40px;
                        margin-top: 50px;
                    }
                    
                    .product__details__text ul li {
                        font-size: 16px;
                        color: #1c1c1c;
                        list-style: none;
                        line-height: 36px;
                    }
                    
                    .product__details__text ul li b {
                        font-weight: 700;
                        width: 170px;
                        display: inline-block;
                    }
                    
                    .product__details__text ul li span samp {
                        color: #dd2222;
                    }
                    
                    .product__details__text ul li .share {
                        display: inline-block;
                    }
                    
                    .product__details__text ul li .share a {
                        display: inline-block;
                        font-size: 15px;
                        color: #1c1c1c;
                        margin-right: 25px;
                    }
                    
                    .product__details__text ul li .share a:last-child {
                        margin-right: 0;
                    }
                    
                    .product__details__tab .nav_tabs li {
                        margin-bottom: 0;
                        margin-right: 65px;
                        /* text-align: center; */
                    }
                    
                    .product__details__tab .nav_tabs {
                        border-bottom: none;
                        justify-content: center;
                        position: relative;
                    }
                    
                    .product__details__tab .nav_tabs li a {
                        margin-top: 50px;
                        padding: 0;
                        color: #1c1c1c;
                        font-weight: 700;
                        position: relative;
                        font-size: 30px;
                        margin-left: 50px;
                        /* margin: auto; */
                        padding: auto;
                        /* justify-content: center; */
                        text-align: center;
                    }
                    
                    .product__details__tab .product__details__tab__desc {
                        padding-top: 44px;
                    }
                    
                    .product__details__tab .product__details__tab__desc h6 {
                        font-weight: 700;
                        color: #333333;
                        margin-bottom: 26px;
                    }
                    
                    .product__details__tab .product__details__tab__desc p {
                        color: #666666;
                    }
                    /* checkout */
                    
                    .checkout {
                        padding-top: 60px;
                        padding-bottom: 60px;
                    }
                    
                    .checkout h6 {
                        color: #999999;
                        text-align: center;
                        background: #f5f5f5;
                        border-top: 1px solid #6AB963;
                        padding: 12px 0 12px;
                        margin-bottom: 75px;
                    }
                    
                    .checkout h6 span {
                        font-size: 16px;
                        color: #6AB963;
                        margin-right: 5px;
                    }
                    
                    .checkout h6 a {
                        text-decoration: underline;
                        color: #999999;
                    }
                    
                    .checkout__form h4 {
                        color: #1c1c1c;
                        font-weight: 700;
                        border-bottom: 1px solid #e1e1e1;
                        padding-bottom: 20px;
                        margin-bottom: 25px;
                    }
                    
                    .checkout__form p {
                        column-rule: #b2b2b2;
                    }
                    
                    .checkout__input {
                        margin-bottom: 24px;
                    }
                    
                    .checkout__input p {
                        color: #1c1c1c;
                        margin-bottom: 20px;
                    }
                    
                    .checkout__input p span {
                        color: #dd2222;
                    }
                    
                    .checkout__input input {
                        width: 100%;
                        height: 46px;
                        border: 1px solid #ebebeb;
                        padding-left: 20px;
                        font-size: 16px;
                        color: #b2b2b2;
                        border-radius: 4px;
                    }
                    
                    .checkout__input input.checkout__input__add {
                        margin-bottom: 20px;
                    }
                    
                    .checkout__input input::placeholder {
                        color: #b2b2b2;
                    }
                    
                    .checkout__input__checkbox {
                        margin-bottom: 10px;
                    }
                    
                    .checkout__input__checkbox label {
                        position: relative;
                        font-size: 16px;
                        color: #1c1c1c;
                        padding-left: 40px;
                        cursor: pointer;
                    }
                    
                    .checkout__input__checkbox label input {
                        position: absolute;
                        visibility: hidden;
                    }
                    
                    .checkout__input__checkbox label input:checked~.checkmark {
                        background: #7fad39;
                        border-color: #7fad39;
                    }
                    
                    .checkout__input__checkbox label input:checked~.checkmark:after {
                        opacity: 1;
                    }
                    
                    .checkout__input__checkbox label .checkmark {
                        position: absolute;
                        left: 0;
                        top: 4px;
                        height: 16px;
                        width: 14px;
                        border: 1px solid #a6a6a6;
                        content: "";
                        border-radius: 4px;
                    }
                    
                    .checkout__order {
                        background: #f5f5f5;
                        padding: 40px;
                        padding-top: 30px;
                    }
                    
                    .checkout__order h4 {
                        color: #1c1c1c;
                        font-weight: 700;
                        border-bottom: 1px solid #e1e1e1;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                    }
                    
                    .checkout__order .checkout__order__products {
                        font-size: 18px;
                        color: #1c1c1c;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                    
                    .checkout__order .checkout__order__products span {
                        float: right;
                    }
                    
                    .checkout__order ul {
                        margin-bottom: 12px;
                    }
                    
                    .checkout__order ul li {
                        font-size: 16px;
                        color: #6f6f6f;
                        line-height: 40px;
                        list-style: none;
                    }
                    
                    .checkout__order ul li span {
                        font-weight: 700;
                        float: right;
                    }
                    
                    .checkout__order .checkout__order__subtotal {
                        font-size: 18px;
                        color: #1c1c1c;
                        font-weight: 700;
                        border-bottom: 1px solid #e1e1e1;
                        border-top: 1px solid #e1e1e1;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                        padding-top: 15px;
                    }
                    
                    .checkout__order .checkout__order__subtotal span {
                        float: right;
                    }
                    
                    .checkout__order .checkout__input__checkbox label {
                        padding-left: 20px;
                    }
                    
                    .checkout__order .checkout__order__total {
                        font-size: 18px;
                        color: #1c1c1c;
                        font-weight: 700;
                        border-bottom: 1px solid #e1e1e1;
                        padding-bottom: 15px;
                        margin-bottom: 25px;
                    }
                    
                    .checkout__order .checkout__order__total span {
                        float: right;
                        color: #dd2222;
                    }
                    
                    .checkout__order button {
                        font-size: 18px;
                        letter-spacing: 2px;
                        width: 100%;
                        margin-top: 10px;
                    }
                    
                    .section-title-checkout {
                        color: #1c1c1c;
                        font-weight: 700;
                        position: relative;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    /* reponsive */
                    
                    @media screen and (max-width: 768px) {
                        .menu {
                            margin-bottom: 0;
                        }
                        .checkout {
                            padding-top: 0;
                        }
                        .checkout__form h4 {
                            text-align: center;
                        }
                        .search__phone {
                            float: right;
                            display: inline;
                            width: 100%;
                            padding-left: 100px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                        .categories {
                            padding-bottom: 0px;
                            margin-bottom: 20px;
                        }
                        .rps {
                            margin-top: 20px;
                        }
                        .featured__controls ul li {
                            margin-left: 10px;
                        }
                        .featured__item__pic img {
                            width: 80%;
                            height: 100%;
                            margin-left: 10%;
                        }
                        .featured__item__pic__hover {
                            position: absolute;
                            left: -1%;
                            bottom: -10px;
                            width: 100%;
                            text-align: center;
                        }
                        .banner__pic {
                            margin-top: 10px;
                        }
                        .latest-product__text h4 {
                            text-align: center;
                        }
                        .latest-prdouct__slider__item {
                            padding-left: 50px;
                        }
                        .search__form form {
                            width: 100%;
                            height: 50px;
                            border: 1px solid #ebebeb;
                            position: relative;
                            float: left;
                        }
                        .featured {
                            margin-top: 50px;
                        }
                        .header__logo img {
                            margin-left: -30px;
                        }
                        .product__details__pic__item img {
                            margin-top: 50px;
                            width: 400px;
                        }
                        .cart-btn {
                            margin-left: 80px;
                        }
                        .cart-btn-right {
                            margin-right: 83px;
                            margin-top: 10px;
                        }
                        .shoping__discount form input {
                            margin-left: 80px;
                        }
                        .shoping__discount form button {
                            margin-left: 100px;
                            margin-top: 10px;
                        }
                        .shoping__discount h5 {
                            text-align: center;
                        }
                        .shoping__cart__quantity input {
                            width: 100px;
                        }
                        .shoping__checkout .primary-btn {
                            margin-left: -15px;
                        }
                        .checkout {
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }
                        .featured {
                            padding-top: 0;
                        }
                        .menu {
                            padding-bottom: 80px;
                        }
                        #sideNav {
                            margin-right: 20px;
                            width: 250px;
                            height: 100vh;
                            position: fixed;
                            top: 0;
                            right: -250px;
                            background: white;
                            z-index: 2;
                            transition: right 0.5s;
                        }
                        .navmenu ul li {
                            list-style: none;
                            margin: 50px 20px;
                        }
                        .navmenu ul li a {
                            text-decoration: none;
                            color: black;
                        }
                        #menuBtn {
                            position: absolute;
                            left: 380px;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            right: 30px;
                            top: 20px;
                            border-radius: 3px;
                            z-index: 3;
                            cursor: pointer;
                        }
                        #menuBtn img {
                            width: 20px;
                            margin-top: 15px;
                        }
                        .sideNav__logo {
                            margin-top: 50px;
                            margin-left: 20px;
                        }
                        .nav-menu-icon {
                            margin-left: 20px;
                        }
                        .dropdown-toggle {
                            background: white;
                            border: 0px;
                            margin-left: 5px;
                            text-transform: uppercase;
                        }
                        .pro-qty input {
                            margin-left: 50px;
                            width: 300px;
                            margin-bottom: 20px;
                        }
                        .btn1 {
                            margin-left: 100px;
                        }
                        .pro1 input {
                            margin-left: -10px;
                            margin-bottom: 5px;
                            width: 50px;
                            border: 1px solid black;
                        }
                    }
                    
                    @media only screen and (min-width: 768px) and (max-width: 991px) {
                        .featured__filter {
                            margin-left: 30px;
                        }
                        .featured1 {
                            margin-left: 60px;
                        }
                        .latest-product__text3 {
                            width: 100%;
                            margin-left: 230px;
                        }
                        .latest-product__text3 h4 {
                            margin-left: 5px;
                        }
                        .search__phone {
                            float: right;
                            display: inline;
                            width: 100%;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            padding-left: 250px;
                        }
                        .rps {
                            margin-top: 20px;
                        }
                        .featured__item__pic img {
                            height: 270px;
                            position: relative;
                            overflow: hidden;
                            background-position: center center;
                        }
                        .blog__item__pic img {
                            width: 100px;
                            height: 200px;
                        }
                        .banner__pic {
                            margin-top: 10px;
                        }
                        .search__form form {
                            width: 100%;
                            height: 50px;
                            border: 1px solid #ebebeb;
                            position: relative;
                            float: left;
                        }
                        .featured {
                            margin-top: 50px;
                        }
                        .header__logo img {
                            margin-left: 20px;
                        }
                        /* checkout */
                        .checkout__form h4 {
                            text-align: center;
                        }
                        .product__details__pic__item img {
                            margin-top: 50px;
                        }
                        .shoping__discount h5 {
                            margin-left: 150px;
                        }
                        .shoping__discount {
                            margin-left: 120px;
                        }
                        .shoping__cart__quantity input {
                            width: 150px;
                        }
                        #sideNav {
                            margin-right: 20px;
                            width: 250px;
                            height: 100vh;
                            position: fixed;
                            top: 0;
                            right: -250px;
                            background: white;
                            z-index: 2;
                            transition: right 0.5s;
                        }
                        .navmenu ul li {
                            list-style: none;
                            margin: 50px 20px;
                        }
                        .navmenu ul li a {
                            text-decoration: none;
                            color: black;
                        }
                        #menuBtn {
                            position: absolute;
                            left: 770px;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            right: 30px;
                            top: 20px;
                            border-radius: 3px;
                            z-index: 3;
                            cursor: pointer;
                        }
                        #menuBtn img {
                            width: 20px;
                            margin-top: 15px;
                        }
                        .sideNav__logo {
                            margin-top: 50px;
                            margin-left: 20px;
                        }
                        .nav-menu-icon {
                            margin-left: 20px;
                        }
                        .dropdown-toggle {
                            background: white;
                            border: 0px;
                            margin-left: 5px;
                            text-transform: uppercase;
                        }
                        .featured {
                            padding-top: 80px;
                        }
                        .checkout {
                            padding-bottom: 0px;
                            padding-top: 10px;
                        }
                        .section-title-checkout {
                            margin-top: -50px;
                            margin-bottom: 70px;
                        }
                    }
                    
                    @media only screen and (min-width: 991px) {
                        .header__logo img {
                            margin-left: -55px;
                        }
                        .collapse {
                            margin-left: 50px;
                        }
                        .search__phone {
                            float: left;
                            display: inline;
                            margin-left: 250px;
                        }
                        .checkout {
                            margin-top: -50px;
                            margin-bottom: -80px;
                        }
                        .categories {
                            /* position: relative; */
                            border: 1px solid rgb(127, 173, 57);
                        }
                        #menuBtn,
                        #sideNav {
                            display: none;
                        }
                    }