body {
    margin-left: 30px;
}

h1 {
    padding-bottom: 10px;
    /* padding-top: 15px; */
    /* margin-top: 20px; */
}

ul li {
    margin-left: 35px;
    margin-top: 7px;
}


/* h2 {
    padding-bottom: 10px;
} */

h3 {
    /* border-style: none solid none none; */
    margin-top: 15px;
    border-bottom: solid 1px;
}

h2 {
    padding-top: 15px;
}

h2 ul {
    padding-top: 1000px;
}


/* .ngay {
    margin-top: 0px;
    padding-top: 0px;
} */