    * {
        box-sizing: border-box;
    }
    
    body {
        width: 1100px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20%;
        margin-right: 25%;
    }
    
    .noidung {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-gap: 20px;
        border: 1px solid;
        background-image: url(/img/nen1.png);
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        background-size: 100% 100%;
    }
    
    .item1 {
        color: aliceblue;
        /* text-align: center; */
        /* background-color: aqua; */
    }
    
    .a {
        background-color: #0C7094;
        text-align: center;
        height: 350px;
    }
    
    .b {
        display: inline-block;
        /* *display: inline;
        zoom: 1;
        margin: 0px;
        outline: none; */
        background-color: #074358;
        /* margin-top: 50px; */
    }
    
    #hinh1 .a {
        margin-top: 50px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 13px;
    }
    
    p .b {
        font-size: 10px;
    }
    
    H2 .b {
        font-size: 14px;
    }